$siteBg: #0c1321;
$P1Bg:#007400;
$P2Bg: rgb(190, 4, 4);
$P3Bg: rgb(0, 0, 172); 

$PTable: 52px;
$PTableText: 14px;
.siteBackground{
    background-color: $siteBg;
}
.projectReel{
    text-align: center; 
    background-color: rgb(179, 179, 0);
    border: 2px solid rgb(253, 253, 61) ;
    color: white; 
    padding: 15px;
}

.ProjectIMG{
    
   width:375px;
}

.hProject{
    text-align: center; 
     
    border-radius: 5px; 
    justify-content: center; 
    color:white;
}

.hLink{
    text-align: center; 
    border: 2px solid rgb(41, 41, 41); 
    border-radius: 5px; 
     
    background-color: black;
}
.hLinkD{
     
    color: white;
}

.projectControls{
    color: white;
    text-align: center;
}

.hP1Color{
background-color: $P1Bg;
border: 2px solid rgb(195, 255, 156);
color: rgb(195, 255, 156);
}
.hP2Color{
background-color: $P2Bg;
border: 2px solid rgb(255, 207, 207);
color: rgb(255, 207, 207);    
}
.hP3Color{
background-color: $P3Bg;
border: 2px solid rgb(33, 233, 240);
color: rgb(33, 233, 240);
}
/*
.summaryText{
width:275px; justify-content: center; margin-left: 10px;
}
.summaryText h6{
font-size: 15px;
}
*/
/* Checker Board */
.checkerGrid{
    display: grid;
    grid-template-columns: 55px 55px 55px 55px 55px 55px;
    grid-template-rows: 55px 55px;
    justify-content: center;
}
.checkerGrid div{
    border: 1px solid #1ebfeb; 
    width: 50px; 
    height: 50px; 
    display:inline-block;
}


/*.checkerGridChild{
    border: 1px solid black; 
    width: 50px; 
    height: 50px; 
    display:inline-block;
} */
.checkerPieceB{
    background-color: rgb(59, 59, 59); 
    width: 50px; 
    height: 50px;
    border-radius: 50%; 
    border: 1px solid rgb(207, 207, 207);
}
.checkerPieceR{
    background-color: red; 
    width: 50px; 
    height: 50px;
    border-radius: 50%; 
    border: 1px solid grey;
}
.checkerBoard{
    background-color: $siteBg; display: grid; 
    grid-template-columns: 55px 55px 55px 55px 55px 55px 55px 55px;
    grid-template-rows: 55px 55px 55px 55px 55px 55px 55px 55px;
    justify-content: center;
}

.checkerBoard div{
    border: 1px solid #1ebfeb;
    width: 50px; 
    height: 50px; 
    display:inline-block;
}



.greenBorder{
    height: 0px;
    width: 0px;
    border-left: 0px solid transparent;
        border-right: 60px solid transparent;
        border-top: 60px solid green;
    
    margin-left: 0%;
    position: absolute;
    }
    .redBorder{
        height: 0px;
        width: 0px;
        border-left: 60px solid transparent;
        border-right: 0px solid transparent;
        border-top: 60px solid red;
        
        right: 0;
    position:absolute;
    
    }
    .blueBorder{
        height: 50px;
        width: 50px;
        border-left: 0px solid transparent;
        border-right: 60px solid transparent;
        border-bottom: 60px solid blue;
        margin-left: 0%;
        margin-top: 0%;
        position:absolute;
    }
    .yellowBorder{
        height: 0px;
        width: 0px;
        border-left: 60px solid transparent;
        border-right: 0px solid transparent;
        border-bottom: 60px solid yellow;
        right: 0;
        margin-top: 0%;
        position:absolute;
    }
    
    .accordion {
        background-color: #167392; 
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
      }
      
      .active, .accordion:hover {
          
          background-color: #167392;
          color: black;
          font-size: 20px;
      }
      
      .panel {
        padding: 0 18px;
        display: none;
        background-color:#167392;
        overflow: hidden;
      }
    
    .languageSymbol{
    width: 60px;
    height: 60px;
    }
    .languageSymbol:hover{
        height:100px;
        width:100px;
        text-align: center;
     }   
     .languageSymbol2{
        height:60px;
        width:90px;
        text-align: center;
    
    }
        .languageSymbol2:hover{
            height:100px;
            width:130px;
            text-align: center;
    
        }
    #p1{
        position: relative;
        width: 48px;
        height: 48px;
        background-color: red;
        z-index: 0;
        animation: colorTransition 1s infinite alternate;
    }
    @keyframes colorTransition {
    
        from{}
        to{background-color: blue;}
    
    }
    
    #P1Btn{
        background-color: black;
        color: white;
    }
    #P1Btn a{
        text-decoration: none;
        height: 50px;
        width: 50px;
    }
    
    
    .grid{
    
    display: grid;
    grid-template-columns: 52px 52px 52px 52px 52px 52px 52px 52px 52px 52px;
    grid-template-rows: 52px 52px 52px;
    
    margin-top: 0%;
    margin-left: 0.5%;
    }
    
    .grid div{
        border: 1px solid #1ebfeb;
            
            height: 50px;
            width: 50px;
            text-align: center;
    }
    
    .grid2{
        display: grid;
    grid-template-columns: 50px  50px 50px;
    grid-template-rows: 50px 50px 50px;
    width: 50px;
    height: 50px;
    
    text-align: center;
    margin-left: 31%;
    margin-top: 5%;
    }
    .redBtn{
    background-color: red;
    }
    .blackBtn{
    background-color: black;
    color: white;
    }
    /*Checker Board*/
    #div0{
        background-color: red;
    }
    #div1{
        background-color: black;
    }
    /*                                       Periodic Table                                    */
    
    .Table{
    display: grid;
    grid-template-columns: $PTable $PTable $PTable $PTable $PTable $PTable 
                         $PTable $PTable $PTable $PTable $PTable $PTable
                         $PTable $PTable $PTable $PTable $PTable $PTable;
    grid-template-rows: $PTable $PTable $PTable $PTable $PTable $PTable $PTable;
    justify-content: center;
    margin-top: 2%;
    }
    .Table div{
        background-color: rgba(0, 0, 0, 0);
    }
    .Table button{
        text-align: center;
        width: $PTable;
        height: $PTable;
        padding: 10px;
        border: 1px solid black;
        font-size: $PTableText;
    }
    .Table2 button{
        text-align: center;
        width: $PTable;
        height: $PTable;
        padding: 10px;
        border: 1px solid black;
        font-size: $PTableText;
    }
    
    .Table2{
    
        display: grid;
        grid-template-columns:  $PTable $PTable $PTable $PTable $PTable
                                $PTable $PTable $PTable $PTable $PTable
                                $PTable $PTable $PTable $PTable $PTable;
        grid-template-rows:  $PTable, $PTable;
        justify-content: center;
        margin-top: 1%;
    }
    .Table2 button{
        background: linear-gradient(135deg, rgb(255, 200, 97), orange, rgb(161, 105, 0));
    }

    .Table2 button:hover{
        background: linear-gradient(135deg, rgb(255, 213, 135), rgb(255, 186, 57), rgb(255, 166, 1));
        border: 1px solid white;
    }
    
    
    .ITM{
        background: linear-gradient(135deg,rgb(255, 200, 97), orange, rgb(161, 105, 0));
        text-align: center;
        width: 42px;
        height: 42px;
        padding: 10px;
        border: 1px solid black;
        font-size: 8px;
    }
    .ITM:hover{
        background: linear-gradient(135deg, rgb(255, 213, 135), rgb(255, 186, 57), rgb(255, 166, 1));
        border: 1px solid white;
    }
    
    .Catalog{
    display: grid;
    grid-template-columns: 50px 140px 50px 140px 50px 140px 50px 140px 50px 140px;
    grid-template-rows: 40px;
    justify-content: center;
    margin-top: -5%;
    }
    
    .Catalog button{
text-align: center;
        width: 10px;
        height: 10px;
        padding: 15px;
        margin: 0px;
        border:2px solid black;
    }
    
    .Catalog div{
        color: black;
        font-size: 12px;
    width: 100px;
    height: 20px;
    margin: 0px;
    padding: 10px;
    }
    
    /* Hydrogen */
    
    .Hn{
        background: linear-gradient(135deg, rgba(187, 187, 187, .2), grey, rgb(88, 76, 76));
        
    }
    .Hn:hover{
         background: linear-gradient(135deg, rgba(224, 224, 224, 0.2), rgb(201, 201, 201), rgb(143, 125, 125));
        border: 2px solid white;
    
    }
    .AM{
        background: linear-gradient(135deg, rgb(65, 255, 255), cyan, rgb(0, 180, 180));
    }
    .AM:hover{
    background:linear-gradient(135deg, rgb(133, 255, 255), rgb(89, 255, 255), rgb(40, 250, 250));
        border: 2px solid white;
    }
    .AEM{
        background: linear-gradient(135deg, rgb(173, 214, 228), lightblue, rgb(82, 187, 223));
    }
    .AEM:hover{
        background: linear-gradient(135deg, rgb(214, 245, 255), rgb(202, 239, 252), rgb(148, 228, 255));
        border: 2px solid white;
    }
    .M{
         background: linear-gradient(135deg, rgb(255, 255, 85), yellow, rgb(172, 172, 0));
    }
    .M:hover{
        background: linear-gradient(135deg, rgb(255, 255, 122), rgb(255, 255, 60), rgb(223, 223, 0));
        border: 2px solid white;
    }
    
    .H{
         background:linear-gradient(135deg, rgb(253, 214, 221), pink, rgb(255, 138, 158));
    }
    .H:hover{
        background: linear-gradient(135deg, rgb(255, 236, 240), rgb(252, 216, 222), rgb(255, 187, 198));
        border: 2px solid white;
        }
    .IT{
         background: linear-gradient(135deg,rgb(255, 200, 97), orange, rgb(161, 105, 0));
    }
    .IT:hover{
        background: linear-gradient(135deg, rgb(255, 213, 135), rgb(255, 186, 57), rgb(255, 166, 1));
        border: 2px solid white;
    
    }
    .NG{
        background: linear-gradient(135deg, rgb(83, 180, 125), seagreen, rgb(2, 131, 58));
    }
    .NG:hover{
    background: linear-gradient(135deg, rgb(113, 245, 170), rgb(73, 214, 134), rgb(0, 224, 97));
        border: 2px solid white;
    }
    .PTM{
         background: linear-gradient(135deg, rgb(236, 98, 236), violet, rgb(230, 59, 230));
    }
    .PTM:hover{
        background: linear-gradient(135deg, rgb(241, 142, 241), rgb(236, 148, 236), rgb(231, 100, 231));
        border: 2px solid white;
    }
    .TM{
         background: linear-gradient(135deg, rgb(255, 107, 53), orangered, rgb(199, 54, 2));
    }
    .TM:hover{
        background:linear-gradient(135deg, rgb(255, 133, 89), rgb(255, 126, 79), rgb(255, 68, 0));
        border: 2px solid white;
    }
    .ON{
        background:linear-gradient(135deg, rgb(247, 109, 247), magenta, rgb(194, 0, 194));
    }
    .ON:hover{
       background: linear-gradient(135deg, rgb(243, 146, 243), rgb(255, 80, 255), rgb(255, 15, 255));
        border: 2px solid white;
    }
    /* Periodic Table */

.periodicTableDesc{
    width: 450px; 
    height: 220px; 
    overflow: visible; 
    border: 2px solid #1ebfeb; 
    overflow-y: scroll; 
    background-color: #135169;
    margin-left: 350px;
    
}
    #Textbox_Image{
        width: 260px;
        height: 240px;
        padding: 10px;
        background-color: #135169;
        border: 5px solid #1ebfeb;
        font-size: 10px;
        border: 2px solid black;
    border-radius: 5px;
    margin-left: 40px;
    margin-top: -5px;
    display: inline;
    }
    .periodicTableTextBox{
        display: grid;
        
        grid-template-rows: 50px 150px; 
        width: 600px; 
        height: 240px; 
        border: 5px solid #1ebfeb; 
        background-color: #0c1321;
        margin-left: 10%; 
        border-radius: 5px;
        }
    .periodicTableTextBox2{
        display: grid;
        
        grid-template-rows: 50px 150px; 
        width: 880px; 
        height: 340px; 
        border: 5px solid #1ebfeb; 
        background-color: #0c1321; 
        margin-left: 5%; 
        border-radius: 5px;
        }
    /*  Logo animation  */
    /*
    .greenSquare{
            background-color: rgba(2, 212, 2, .9); 
          width:100px; 
          height:100px;
          left: 0;
          animation: greenMove2 5s;
          position: absolute;
          animation: greenMove 5s; 
          animation-delay: 0s;
          z-index: 4;
          }
          
          @keyframes greenMove{
          0% {background-color: rgba(2, 212, 2, 0.7);transform: rotate(33deg) skewX(35deg) skewY(15deg);width: 80px; height: 80px; margin-left: 591px; margin-top: 287px;}
          30%{background-color: rgba(2, 212, 2, 0.7);transform: rotate(33deg) skewX(35deg) skewY(15deg); width: 80px; height: 80px; margin-left: 591px; margin-top: 287px;}
          45% {background-color: rgba(2, 212, 2, 0.7);margin-left:487px;margin-top:236px;transform: rotate(-45deg) skewX(0deg) skewY(0deg); width:100px; height:100px;}
          50% {background-color: rgba(2, 212, 2, 0.7);margin-left:620px;margin-top:236px;transform: rotate(-45deg) skewX(0deg) skewY(0deg); width:100px; height:100px;}
          75%{background-color: rgba(2, 212, 2, 0.7);margin-left:620px;margin-top:236px;transform: rotate(0deg) skewX(0deg) skewY(0deg); width:100px; height:100px}
          78%{background-color: rgba(2, 212, 2, 0.7);margin-left:630px;margin-top:246px;transform: rotate(0deg) skewX(0deg) skewY(0deg); width:80px; height:80px}
          100%{background-color: rgba(2, 212, 2, 0.7);transform: rotate(0deg) skewX(0deg) skewY(0deg); width:100px; height:100px;margin-left: 0px; margin-top: 37px;}
          }
          
          .redSquare{
          background-color: rgba(236, 0, 0, .9);
              right: 0;
              width:100px; 
              height:100px;
              position: absolute;
          animation:redMove 5s;
          animation-delay: 0s;
          z-index: 4;
          }
          
          @keyframes redMove{
          0% {background-color: rgba(236, 0, 0, .7);width: 100px; height: 100px; margin-left: 619px; margin-top: 190px;transform: rotate(45deg);}
          30%{background-color: rgba(236, 0, 0, .7);width: 100px; height: 100px; margin-left: 619px; margin-top: 190px;transform: rotate(45deg);}
          45% {background-color: rgba(236, 0, 0, .7);margin-top:102px;transform: rotate(-45deg);}
          50%{background-color: rgba(236, 0, 0, .7);margin-left: 620px;margin-top:236px;transform: rotate(-45deg);}
          75%{background-color: rgba(236, 0, 0, .7);margin-left: 620px;margin-top:236px;transform: rotate(0deg);width: 100px;height: 100px;}
          78%{background-color: rgba(236, 0, 0, .7);margin-left: 630px;margin-top:246px;transform: rotate(0deg);width: 80px;height: 80px;}
          100%{background-color: rgba(236, 0, 0, .7);margin-left: 1250px; margin-top: 37px;transform: rotate(0deg);}
          }
          
          
          .blueSquare{
          background-color: rgba(0, 0, 180, 0);
          background-color: rgba(0, 0, 180, .9);
            left: 0;
            transform: rotate(0deg) skewX(0deg) skewY(0deg); 
            width:100px; 
            height:100px;  
            position: absolute;
          animation: blueMove 5s;
          animation-delay: 0s;
          z-index: 4;
          }
          
          @keyframes blueMove{
          0%{background-color: rgba(0, 0, 180, .7);width: 80px;height: 80px;margin-left: 667px;margin-top: 287px;transform: rotate(79deg) skewX(35deg) skewY(15deg);}
          30%{background-color: rgba(0, 0, 180, .7);width: 80px;height: 80px;margin-left: 667px;margin-top: 287px;transform: rotate(79deg) skewX(35deg) skewY(15deg);}
          45% {background-color: rgba(0, 0, 180, .7);margin-left: 753px;margin-top:236px;transform: rotate(-45deg) skewX(0deg) skewY(0deg); width:100px; height:100px}
          50% {background-color: rgba(0, 0, 180, .7);margin-left: 620px;margin-top:236px;transform: rotate(-45deg) skewX(0deg) skewY(0deg); width:100px; height:100px}
          75%{background-color: rgba(0, 0, 180, .7);margin-left: 620px;margin-top:236px;transform: rotate(0deg) skewX(0deg) skewY(0deg); width:100px; height:100px}
          78%{background-color: rgba(0, 0, 180, .7);margin-left: 630px;margin-top:246px;transform: rotate(0deg) skewX(0deg) skewY(0deg); width:80px; height:80px}
          100%{background-color: rgba(0, 0, 180, .7);margin-left: 0px; margin-top: 535px; transform: rotate(0deg) skewX(0deg) skewY(0deg); width:100px; height:100px; }
          }
          .yellowSquare{
        background-color: rgba(255, 240, 25,.9);
              right: 0;
              width:100px; 
              height:100px;
          
          position: absolute;
          
          animation:yellowMove 5s;
          animation-delay: 0s;
          z-index: 2;
          }
          
          @keyframes yellowMove{
          0% {background-color: rgba(255, 240, 25,.7);width:100px; height:100px;transform: rotate(45deg);margin-left: 620px;margin-top: 290px;}
          30% {background-color: rgba(255, 240, 25,.7);width:100px; height:100px;transform: rotate(45deg);margin-left: 620px;margin-top: 290px;}
          45%{background-color: rgba(255, 240, 25,.7);margin-top:367px;transform: rotate(-45deg);}
          50%{background-color: rgba(255, 240, 25,.7);margin-left: 620px;margin-top:236px;transform: rotate(-45deg);}
          75%{background-color: rgba(255, 240, 25,.7);margin-left: 620px;margin-top:236px;transform: rotate(0deg);width: 100px;height: 100px;}
          78%{background-color: rgba(255, 240, 25,.7);margin-left: 630px;margin-top:246px;transform: rotate(0deg);width: 80px;height: 80px;}
          100%{background-color: rgba(255, 240, 25,.7);margin-left:1250px; margin-top:535px; transform: rotate(0deg);}
          }
          
          .logoCircle{
              position: fixed;
              width: 300px;
              height: 300px;
              margin-left: 520px;
              margin-top: 135px;
              background-color: rgba(255,255,255,0);
              border-radius: 500px;
              animation: circleBlip 3.9s;
              animation-delay: 0s;
              z-index: 1;
          }
          
          @keyframes circleBlip{
          0%{background-color:white;}
          96%{width: 300px; height: 300px;margin-left: 520px;margin-top: 135px;}
          97%{background-color:white; margin-left: 625px; margin-top: 233px;}
          100%{background-color:rgba(255,255,255,0);height:0px; width:0px;margin-left: 625px; margin-top: 233px;}
          }
          */
    /*                                   Responsive                                            */
    
    @media screen and (min-width: 768px){
        
        .grid{
    
            display: grid;
            grid-template-columns: 52px 52px 52px 52px 52px 52px 52px 52px 52px 52px;
            grid-template-rows: 52px 52px 52px;
            
            margin-top: 0%;
            margin-left: 20%;
            }
            .grid2{
                display: grid;
            grid-template-columns: 50px  50px 50px;
            grid-template-rows: 50px 50px 50px;
            width: 50px;
            height: 50px;
            
            text-align: center;
            margin-left: 40%;
            margin-top: 5%;
            }

            .periodicTableTextBox{
                display: grid;
                
                grid-template-rows: 50px 150px; 
                width: 600px; 
                height: 240px; 
                border: 5px solid #1ebfeb; 
                background-color: #0c1321;
                margin-left: 10%; 
                border-radius: 5px;
                }
        
                .ProjectIMG{
                    margin-left: 25%;
                   
                }
    }
    
    
    
    @media screen and (min-width: 1000px){
        
        .grid{
    
            display: grid;
            grid-template-columns: 52px 52px 52px 52px 52px 52px 52px 52px 52px 52px;
            grid-template-rows: 52px 52px 52px;
            
            margin-top: 0%;
            margin-left: 25%;
            }
        
            .grid2{
                display: grid;
            grid-template-columns: 50px  50px 50px;
            grid-template-rows: 50px 50px 50px;
            width: 50px;
            height: 50px;
            
            text-align: center;
            margin-left: 43%;
            margin-top: 5%;
            }
            
    }
   

    
    @media screen and (min-width: 1366px){
        
        .grid{
    
            display: grid;
            grid-template-columns: 52px 52px 52px 52px 52px 52px 52px 52px 52px 52px;
            grid-template-rows: 52px 52px 52px;
            
            margin-top: 0%;
            margin-left: 31.5%;
            }
        .grid2{
                display: grid;
            grid-template-columns: 50px  50px 50px;
            grid-template-rows: 50px 50px 50px;
            width: 50px;
            height: 50px;        
            text-align: center;
            margin-left: 45%;
            margin-top: 5%;
            }
    
            .periodicTableTextBox2{
                display: grid;
                
                grid-template-rows: 50px 150px; 
                width: 880px; 
                height: 340px; 
                border: 5px solid #1ebfeb; 
                background-color: #0c1321; 
                margin-left: 15%; 
                border-radius: 5px;
                } 
                .ProjectIMG{
                    margin-left: 36%;
                   
                }
    }
    @media screen and (min-width: 1920px){

        .periodicTableTextBox2{
                display: grid;
                
                grid-template-rows: 50px 150px; 
                width: 880px; 
                height: 340px; 
                border: 5px solid #1ebfeb; 
                background-color: #0c1321; 
                margin-left: 27%; 
                border-radius: 5px;
                }
                .ProjectIMG{
                    margin-left: 40%;
                   
                }
    }

    
